:root {
    --main-color: #9F9F9F;
    --black1: rgba(58, 58, 58, 1);
    --gray1: rgba(159, 159, 159, 1);
    --gray2: rgba(217, 217, 217, 1);
    --black2: rgba(36, 36, 36, 1);
    --orange1: rgba(249, 241, 231, 1);
    --orange2: rgba(255, 199, 0, 1);
    --orange3: rgba(255, 199, 0, 1);
    --orange4: rgba(184, 142, 47, 1);
    --primary-font: 'Poppins', serif;
    --second-font: 'Montserrat', serif;
    color: var(--main-color);
    font-family: var(--primary-font);
    font-size: 1rem;
}

.container {
    max-width: 1236px !important;
}

.header-container {
    max-width: 1286px;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
}

.montserrat {
    font-family: var(--second-font);
}

.logo-h3 {
    font-size: 34px;
}

.logo {
    gap: 5px;
}

.menu ul {
    gap: 75px;
}

.icon img {
    width: 28px;
    height: 28px;
}

.icon {
    gap: 45px;
}

/* header >div{
    justify-content: space-around;
} */
.menu ul li a {
    color: black;
    font-weight: Medium;
}

.hero-section {
    background-image: url(./asset/img/bg1.png);
    padding-top: 155px;
    padding-bottom: 115px;
    padding-right: 60px;
}

.hero-section-box h5 {
    font-weight: 600;

}

.hero-section-box h3 {
    font-size: 52px;
    font-weight: bold;
    white-space: pre-line;
}

.hero-section-box p {
    font-size: 18px;
    font-weight: medium;

}

.hero-section-box a {
    padding: 25px 72px;
    /* display: block; */
    display: inline-block;
    font-weight: bold;
    background-color: var(--orange4);
    color: #ffffff;
    margin-top: 46px;

}

.hero-section-box {
    background-color: #FFF3E3;
    max-width: 643px;
    padding: 62px 43px 37px 39px;
}

.section-browse {
    padding-left: 26.5px;
    padding-right: 26.5px;
}

/* .section-product >div{
    gap: 32px;
} */
.section-product .product {
    width: calc(25% - 24px);
}

.product>div {
    background-color: rgba(244, 245, 247, 1);
}

.product>div:last-child {
    padding: 16px 30px 20px 16px;

}

.sale {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
}

.product>div>h3 {
    /* Product Name */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

/* Color / Gray 1 */
color: #3A3A3A;
}

.product>div>p {
    /* Sort Description */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Color / Gray 3 */
color: #898989;
}

.product>div>div>span:first-child {
    /* Fix Price */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 30px */

/* Color / Gray 1 */
color: #3A3A3A;
}

.product>div>div>span:last-child {
    /* Fix Price */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
text-decoration-line: line-through;

/* Color / Gray 4 */
color: #B0B0B0;
}

.product>div>div {
    justify-content: space-between;
    align-items: center;
}

.product {
    position: relative;
}

.product .hover {
    /* Pop Up */
/*background-color: #3A3A3A;
opacity: 0.72;*/
background-color: color(srgb 0.23 0.23 0.23 / 0.72);
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
display:flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
transition: all 0.5s;
opacity: 0;
visibility: hidden;
}

.product:hover .hover {
    opacity: 1;
    visibility: visible;
}

.product .add,.hover-button {
    width: 100%;
}

.product .hover .add {
background: #FFFFFF;
/* Add to cart */
padding-top: 10px;
padding-bottom: 10px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Primary */
color: #B88E2F;
}

.product .hover .hover-button {
    /* Like */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
width: 100%
}